header {
    padding: 60px 0;
    color: white;
    text-align: center;
    background: linear-gradient(rgb(75, 37, 180), rgba(169, 56, 245, 0.568));
    h1 {
        letter-spacing: 1.5px;
        font-size: 38px;
    }
}