#information {
    background: linear-gradient(to top right, #6948EB, #74C4E8);
    padding: 40px 0;
    // margin: 70px 0 0 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    span {
        font-size: 14px;
        font-weight: bold;
        color: white;
        a {
            text-decoration: none;
            color: #fffc98;
            &:hover {
                // color: #2c2c2c;
                color: rgb(255, 255, 255);
            }
        }
    }
}