#day {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    transition: .1s;
    cursor: pointer;
    position: relative;

    img {
        width: fit-content;
        pointer-events: none;
        margin: 20px auto;
    }

    >span {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        &.backspan {
            font-weight: 900;
            font-size: 50px;
            z-index: -1;
            color: #6948EB;
            opacity: .3;
            position: absolute;
            top: -10px;
        }
    }

    &:hover {
        background: rgba(105, 72, 235, 0.2);
        // background:rgba(0, 0, 0, .1);
    }
    .temperature {
        span {
            font-weight: bold;
            font-size: 20px;
        }
        .max {
            margin: 0 10px;
        }
        .min {
            opacity: .5;
            margin: 0 10px;
        }
    }
}